.navbar-default .navbar-brand{
	color:white;
	letter-spacing: 1.5px;
	font-family:'raleway';
	text-transform: uppercase;
	font-size:18px;
}

.navbar-default, .navbar-default{
	color: #373526;
	background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
	color: white;
	letter-spacing: 1.5px;
	font-family:'raleway';
	text-transform: uppercase;
	font-size:13px;
}

h2{
	font-family: 'raleway' serif;
	font-weight: 700;
	font-size:60px;
	color:#373526;
}

a:active{
	color:#373526;
}



.custom-container{
	margin-left:25px;
	margin-right:29px;
}

.navbar {
	font-family: 'raleway' serif;
	font-weight: 700;
	font-size:12px;
	color:transparent;
	padding-top:18px;
	background-color:transparent;
	float

}

.nav{
	float:right;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
	margin-left:-10px;
}



.navbar-brand{
	padding-right:30px;
}

.navbar-toggle{
	margin-top:30px;
}

body{
	padding-left:10px;
	max-width:800px;
	background-color:#8eae59;
}

h5 {
	font-family: 'raleway' serif;
	font-weight: 700;
	font-size:16px;
	color:#ff5c23;
}

h3{
	font-family: 'raleway' serif;
	font-weight: 700;
	font-size:24px;
	color:#373526;
}



h4{
	font-family: 'raleway' serif;
	font-weight: 700;
	font-size:20px;
}



p {
	font-family: 'raleway' serif;
	font-weight:600;
	font-size:13.5px;
	padding-top:3px;
	color:black;
}

.color{

	font-family: 'raleway' serif;
	font-weight:400;
	font-size:13.5px;
	padding-top:3px;
}

.thumbnail{
	background-color: transparent;
}

.padding{
	padding-top:4px;
}

.negative-padding{
	margin-top:-5px;
}

.small-padding{
	padding-top:2px;
}

.thumbnail{
	border:none;
}