
body {
 font-family: serif;
 padding-bottom:7%;
}

.aboutpage-title{
	font-size: 15px;
	letter-spacing:2px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	padding-top:0;
	padding-bottom:0;
	font-weight: 500;
}

.aboutpage-subtitle{
	font-size: 15px;
	letter-spacing:2px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	color:#216af0;
	padding-top:0;
	padding-bottom:0;
	font-weight: 700;
}

.menupage-title{
	font-size: 25px;
	letter-spacing:5px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	padding-top:2%;
	padding-bottom:4%;
	font-weight: 500;
}

.brandlogo {
	padding-top:15px;
	padding-bottom:2%;
}

.breadcrumb {
	text-align: center;
	color:black;
	font-size: 12px;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase;
	background-color: transparent;
}

.dropdown-menu {
	font-size: 11px;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.nav {
	font-size:10px;
	font-family: 'Raleway', sans-serif;
	font-weight:500;
	letter-spacing: 1px;
	text-transform: uppercase;
}


.navbar {
	padding-top:3%;
	background-color: transparent;
	border-style:none;
}

.menu-category{
	font-size:18px;
	font-style:;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	font-weight:700;
	letter-spacing: 3px;
	color:#216af0;
	padding-top:10px;
}

.menu-name{
	font-size:13px;
	font-family: 'Raleway', sans-serif;
	font-weight:700;
	letter-spacing: 1px;
	padding-top:15px;
	text-transform: uppercase;
}

.menu-description{
	padding-top:1%;
	padding-bottom:1%;
	font-size:11px;
	font-family: 'Raleway', sans-serif;
	font-weight:500;
	letter-spacing: 1px;
	text-transform: none;
}

.side{
	padding-top:7%;
	font-size:11px;
	font-family: 'Raleway', sans-serif;
	font-weight:500;
	letter-spacing: 1px;
	text-transform: uppercase;}

.container {
	padding-bottom: 5%;
}