body{
	margin:0;
	background-color:black;
	font-family:'Karla', sans-serif;
	font-size:11px;
	font-weight:700;
	letter-spacing:2pt;
}

a{
	text-decoration: none;
	color:white;
}

.logo{
	font-family:'Karla', sans-serif;
	font-size:12px;
	font-weight:700;
	color:white;
	letter-spacing:4pt;
	text-decoration: none;
	opacity:0.4;
	text-align:center;
	margin-top:82px;
	line-height:140%;
}


.circuitcontainer{
  position: absolute;
  display: block;
  width: 500px;
  height:500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  color:white;

}

.bodytext{
	margin-top:45px;
	text-align: center;
	font-family:'Karla', sans-serif;
	font-size:14px;
	font-weight:400;
	color:white;
	letter-spacing:1pt;
	line-height: 180%;
}

strong{
	font-size:20px;
}


.next{
	text-align: center;
	font-size:11px;
	margin-left:-10px;
	margin-top:10px;
	opacity:0.4;
}

.next:hover{
	opacity:1;
}







